
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
		<div class="container">
	        <div class="heading-section">
                <br/>
	            <h2>Detalji apartmana</h2>
	        </div>
	        <div class="row">
	        	<div class="col-md-6 tumbnail_slika" style="background-image: url('https://q-xx.bstatic.com/xdata/images/hotel/840x460/135462587.jpg?k=da2d74b3ff7b3945459fd78de5953d8190706dc771a568da32509f986ee7fde8&o=');">
	


	        	</div>
	        	<div class="col-md-6">
	        		<div class="product-dtl">
        				<div class="product-info">
		        			<div class="product-name">Naslov oglasa</div>
		        			<div class="reviews-counter">
								<div class="rate">
								    <input type="radio" id="star5" name="rate" value="5" checked />
								    <label for="star5" title="text">5 stars</label>
								    <input type="radio" id="star4" name="rate" value="4" checked />
								    <label for="star4" title="text">4 stars</label>
								    <input type="radio" id="star3" name="rate" value="3" checked />
								    <label for="star3" title="text">3 stars</label>
								    <input type="radio" id="star2" name="rate" value="2" />
								    <label for="star2" title="text">2 stars</label>
								    <input type="radio" id="star1" name="rate" value="1" />
								    <label for="star1" title="text">1 star</label>
								  </div>
								<span>3 Ocene</span>
							</div>
		        			<div class="product-price-discount"><span> CENA </span><span class="product-price-discount">$29.00</span></div>
		        		</div>
	        			<p> Kljucne reci </p>

                        <div class="row">
	        				<div class="col-md-4">
                                <div class="bk-icon -fonticon-homecrop c-bh-strip__icon" height="30" width="30" font-size="90" viewBox="0 0 32 32" role="presentation" aria-hidden="true" focusable="false"><mat-icon>house</mat-icon>
                                </div>
                                <div class="c-bh-strip__label">
                                    Tip apartmana
                                </div>
	        				</div>

                            <div class="col-md-4">
                                <div class="bk-icon -fonticon-homecrop c-bh-strip__icon" height="30" width="30" font-size="90" viewBox="0 0 32 32" role="presentation" aria-hidden="true" focusable="false"><mat-icon>door_front</mat-icon>
                                </div>
                                <div class="c-bh-strip__label">
                                    Broj soba
                                </div>
	        				</div>

                            <div class="col-md-4">
                                <div class="bk-icon -fonticon-homecrop c-bh-strip__icon" height="30" width="30" font-size="90" viewBox="0 0 32 32" role="presentation" aria-hidden="true" focusable="false"><mat-icon>bed</mat-icon>
                                </div>
                                <div class="c-bh-strip__label">
                                    Br kreveta
                                </div>
	        				</div>

                        </div>
                        
                        <br/>
                        <div class="row">
	        				<div class="col-md-4">
	        					<label for="size">WEB sajt</label>
                                <br/>
								<a href>www.primer.rs</a>
	        				</div>

                            <div class="col-md-4">
	        					<label for="size">Email</label>
                                <br/>
								<p>primer@gmail.com</p>
	        				</div>
	        			</div>

	        		</div>
	        	</div>
	        </div>
	        <div class="product-info-tabs">
		        <ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Opis</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
				  		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<app-apartment-images></app-apartment-images>
