
  <head>
    <title>Travel Booking Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
     
    </style>
  </head>


<body style="align-items: center;">

    <br><br><br><br><br>
    <div class="testbox" >
        <form [formGroup]="formaUnos" action="/" (ngSubmit)="onSubmit()">

              <div class="banner">
                <h1>Dodavanje apartmana za izdavanje</h1>
              </div>
              <div class="item">
                <p>Tip apartmana</p>
                <div class="name-item">
                  <select required formControlName="type">
                    <option selected value="" disabled >Tip </option>
                    <option value="Soba">Soba</option>
                    <option value="Stan">Stan</option>
                    <option value="Kuća">Kuća</option>
                  </select>                </div>
              </div>

              <div class="item">
                <p>Naslov oglasa</p>
                <input type="text" name="adults" formControlName="title"/>
              </div>

              <div class="item">
                <p>Adresa</p>
                <input type="text" name="name" placeholder="Ulica" required  formControlName="street"/>
                <input type="text" name="name" placeholder="Broj" required formControlName="number"/>
                <div class="city-item" >
                  <input type="text" name="name" placeholder="Grad" required formControlName="city"/>
                  <input type="text" name="name" placeholder="Region" required formControlName="region"/>
                  <input type="text" name="name" placeholder="Poštanski broj" required formControlName="postalCode"/>
                  <select required formControlName="country">
                    <option selected value="" disabled >Država </option>
                    <option value="Srbija">Srbija</option>
                    <option value="Crna Gore">Crna Gora</option>
                    <option value="BiH">BiH</option>
                  </select>
                </div>
              </div>

              <br>
              <div class="item manji_input">
                <p>Broj soba</p>
                <input type="number" name="adults" formControlName="roomsNumber"/>
              </div>

              <div class="item manji_input">
                <p>Broj kreveta</p>
                <input type="number" name="adults" formControlName="guestsNumber"/>
              </div>

              <div class="item manji_input" >
                <p>Vreme ulaska</p>
                <input type="time" name="adults" formControlName="check_in_time"/>
              </div>

              <div class="item manji_input" > 
                <p>Vreme odjave</p>
                <input type="time" name="adults" formControlName="check_out_time"/>
              </div>

              <div class="item manji_input">
                <p>Cena po noćenju</p>
                <input type="number" name="adults" formControlName="price_per_night"/>
              </div>

              <div class="item manji_input">
                <p>Kljucne reči</p>
                <input type="text" name="adults" formControlName="keyWords"/>
              </div>              

              <div class="item manji_input">
                <p>Kontakt telefon</p>
                <input type="text" name="phone" placeholder="### ### ####" formControlName="phoneNumber"/>
              </div>

              <div class="item manji_input">
                <p>Email</p>
                <input type="text" name="email" placeholder="###@####.###" formControlName="email"/>
              </div>

              <div class="item manji_input">
                <label>Naslovna fotografija </label>
                <input type="file" class="form-control" accept="image/*" (change)="changeListenerTumbnail($event)"

                >
              </div>
              <div class="item">
                <table>
                  <tr>
            
                    <td >
                      <table align="center">
                        <tr>
                          <img src="{{tumbnail}}" height="100px" />
                        </tr>
                      </table>
            
                    </td>
                  </tr>
                </table>
              </div>


              <div class="item manji_input">
                <label>Fotografije </label>
                <input type="file" class="form-control" accept="image/*" (change)="changeListener($event)"
                       [disabled]="base64Images.size == 5"
                >
              </div>

              <div class="item">
                <table>
                  <tr>
            
                    <td *ngFor="let image of base64Images">
                      <table align="center">
                        <tr>
                          <img src="{{image}}" height="100px" />
                        </tr>
                        <tr>
                          <button (click)="removeImage(image)">Remove</button>
                        </tr>
                      </table>
            
                    </td>
                  </tr>
                </table>
              </div>

              <div class="item manji_input">
                <button class="btn btn-success" type="submit" >Create</button>
              </div>


        </form>



    </div>

    <br><br><br><br><br><br>
</body>
  